
# base
node_modules
package-lock.json
.prettierrc

# tests
test
coverage

./recordings
examples
.bscpmrc
.bscpmrc.json

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

.vscode

# linters
.jscsrc
.jshintrc
.eslintrc*

# editor settings
.idea
.editorconfig

src
